{% extends 'shared/layout/base.html.twig' %}
{% block title "Groupe : #{data.name}" %}

{% block header %}
    {% embed 'shared/component/_header.html.twig' %}
        {% block header_title 'Détails du groupe' %}
        {% block header_description %}
            <ul class="list-inline">
                <li>Créé le : <span class="text-base">{{ data.createdAt | date }}</span></li>
            </ul>
        {% endblock %}
        {% block header_action_list %}
            <li class="btn-group">
                <a href="{{ path('app_group_index') }}" class="btn btn-white btn-dim btn-outline-light">
                    {{ 'arrow-long-left' | icon }}
                    <span>tous les groups</span>
                </a>
                <a href="{{ path('app_group_edit', {id: data.id}) }}" class="btn btn-white btn-dim btn-outline-light">
                    {{ 'edit' | icon }}
                    <span>modifier</span>
                </a>
                <form method="post" action="{{ path('app_group_delete', {id: data.id}) }}" class="d-inline-block" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token("delete_#{data.id}") }}">
                    <button class="btn btn-white btn-dim btn-outline-light btn-delete">
                        {{ 'delete' | icon }}
                        <span>supprimer</span>
                    </button>
                </form>
            </li>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    {% embed "shared/component/card/_simple.html.twig" %}
        {% block simple_card_body %}
            <div class="mb-5">
                <h5 class="title">{{ data.name }}</h5>
                <p>{{ data.description }}</p>
            </div>

            <div class="nk-tb-list is-separate mb-3">
                {% for contact in data.contacts %}
                    <div class="nk-tb-item">
                        <div class="nk-tb-col">
                            <a href="{{ path('app_contact_show', {id: contact.id}) }}">
                                <div class="user-card">
                                    <div class="user-avatar bg-primary">
                                        <img src="{{ contact.defaultAvatar }}" alt="avatar contact">
                                    </div>
                                    <div class="user-info">
                                        <span class="tb-lead">{{ contact.name }}</span>
                                        <span>{{ contact.surname }}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="nk-tb-col tb-col-md"><span>{{ contact.emails | first }}</span></div>
                        <div class="nk-tb-col tb-col-md"><span>{{ contact.phoneNumbers | first }}</span></div>
                        <div class="nk-tb-col tb-col-lg"><span>{{ contact.jobTitle }}</span></div>
                        <div class="nk-tb-col tb-col-sm">
                            {% if contact.isFavorite %}
                                <span class="badge badge-dim badge-danger">favoris</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
