<div class="card h-100">
    <div class="card-inner">
        <div class="project">
            <div class="project-head">
                <a href="{{ path('app_group_show', {id: group.id}) }}" class="project-title">
                    <div class="project-info">
                        <h6 class="title">{{ group.name }}</h6>
                    </div>
                </a>
            </div>
            <div class="project-details"><p>{{ group.description | u.truncate(150, '...') }}</p></div>
            {% if group.contacts | length > 0 %}
                <div class="project-meta">
                    <div class="user-avatar-group">
                        {% for contact in group.contacts.slice(0, 3) %}
                            <div class="user-avatar sm bg-primary">
                                <a href="{{ path('app_contact_show', {id: contact.id}) }}" title="{{ contact.fullName }} ">
                                    {% if contact.avatarUrl %}
                                        <img src="{{ contact.defaultAvatar }}" alt="avatar du contact" />
                                    {% else %}
                                        <span class="text-white">{{ contact.defaultInitials }}</span>
                                    {% endif %}
                                </a>
                            </div>
                        {% endfor %}
                        {% if group.contacts.count - 3 > 0 %}
                            <div class="user-avatar bg-light sm"><span>+{{ group.contacts.count - 3 }}</span></div>
                        {% endif %}
                    </div>
                    <a href="{{ path('app_group_show', {id: group.id}) }}" class="btn btn-dim btn-primary">
                        <span>Voir plus</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
